<div class="card">
    <div class="modal-header">
        <h4 class="card-title">Registro de servicio</h4>
    </div>
    <div class="modal-body">
        <form class="row g-3 mb-3">
            <div class="col-12 mt-5">
                <div class="input-container">
             
                <input
                    type="text"
                    id="name"
                    name="nombre"
                    [(ngModel)]="service.nombre"
                    class="form-control"
                    (blur)="validarNombre()"
                    [ngClass]="{'is-invalid': errorMessages.nombre}"
                    placeholder="">
                    <label for="name" class="input-label">Nombre
                        <span style="color: red;" *ngIf="!service.nombre">*</span>
                    </label>
                <div class="invalid-feedback error-message mt-2"
                    *ngIf="errorMessages.nombre" style="color: red;">
                    {{errorMessages.nombre}}
                </div>
            </div>
            </div>

            <div class="col-12 mt-4">
                <div class="input-container">
                    <label for="descripcion" >Descripción
                        <span style="color: red;" *ngIf="!service.descripcion">*</span>
                    </label>
                <textarea
                    type="text"
                    id="descripcion"
                    name="descripcion"
                    [(ngModel)]="service.descripcion"
                    class="form-control"
                    (blur)="validarDescripcion()"
                    [ngClass]="{'is-invalid': errorMessages.descripcion}"
                    placeholder=""
                    style="resize: none;  height: 90px;"></textarea>

                <div class="invalid-feedback error-message mt-2"
                    *ngIf="errorMessages.descripcion" style="color: red;">
                    {{errorMessages.descripcion}}
                </div>
            </div>
            </div>

          
            <div class="botones mt-4">
                <button pButton pRipple type="button"
                class="p-button-success boton-registrar"
                    [disabled]="loading ||!camposCompletos() || !camposValidos"
                    (click)="registrarServicio()"
                    >
                    <span *ngIf="!loading">Registrar</span>
                </button>
                <button
                pButton pRipple type="button"
                class="p-button-secondary"
                    (click)="cerrarModal()">
                    Cerrar
                </button>
            </div>
        </form>
    </div>
</div>


