<div class="card">
    <div class="modal-header">
        <h4 class="card-title">Editar categoría</h4>
    </div>
    <div class="modal-body">
        <form class="row g-3 mb-3">
            <div class="col-12 mt-5">
                <div class="input-container">

                    <input
                        type="text"
                        id="nombre"
                        name="nombre"
                        [(ngModel)]="datosModificados.nombre"
                        class="form-control"
                        (input)="validarNombre()"
                        [ngClass]="{'is-invalid': errorMessages.nombre}"
                        placeholder>
                    <label for="nombre" class="input-label">Nombre
                        <span style="color: red;" *ngIf="!datosModificados.nombre">*</span>
                    </label>
                    <div class="invalid-feedback error-message mt-2"
                        *ngIf="errorMessages.nombre" style="color: red;">
                        {{errorMessages.nombre}}
                    </div>
                </div>
            </div>

            <div class="col-12 mt-3">
                <div class="input-container">
                    <label for="descripcion" >Descripción
                        <span style="color: red;" *ngIf="!datosModificados.descripcion">*</span>
                    </label>
                    <textarea
                        type="text"
                        id="descripcion"
                        name="descripcion"
                        [(ngModel)]="datosModificados.descripcion"
                        class="form-control"
                        (input)="validarDescripcion()"
                        [ngClass]="{'is-invalid': errorMessages.descripcion}"
                        placeholder
                        style="resize: none;  height: 90px;">
                    </textarea>

                    <div class="invalid-feedback error-message mt-2"
                        *ngIf="errorMessages.descripcion" style="color: red;">
                        {{errorMessages.descripcion}}
                    </div>
                </div>
            </div>

            <div class="botones mt-3">
                <button  pButton pRipple type="button"    class="p-button-success boton-registrar"
                    [disabled]="loading || !camposCompletos() || !cambios() || !camposValidos"
                    (click)="actualizarCategoria()">
                    <span *ngIf="!loading">Actualizar</span>
                </button>
                <button
                pButton pRipple type="button"
                class="p-button-secondary"
                    (click)="cerrarModal()">
                    Cerrar
                </button>
            </div>
        </form>
    </div>
</div>
