
<div class="card">
    <div class="modal-header">
        <h4 class="card-title">Registro de producto</h4>
    </div>
    <div class="modal-body">
        <form class="row g-3 mb-3">

            <div class="col-12 mt-5">
                <div class="input-container">

                    <input
                        type="text"
                        id="name"
                        name="nombre"
                        [(ngModel)]="product.nombre"
                        class="form-control"
                        (input)="validarNombre()"
                        [ngClass]="{'is-invalid': errorMessages.nombre}"
                        placeholder>
                    <label for="name" class="input-label">Nombre
                        <span style="color: red;" *ngIf="!product.nombre">*</span>
                    </label>

                    <div class="invalid-feedback error-message mt-2"
                        *ngIf="errorMessages.nombre" style="color: red;">
                        {{errorMessages.nombre}}
                    </div>
                </div>
            </div>
            

            <div class="col-12 mt-1 ">
                <div  class="input-container">
                    <label for="categoria">Categoría <span style="color: red;"
                            *ngIf="!product.idcategoria">*</span></label>
                    <select
                        id="categoria"
                        name="idcategoria"
                        [(ngModel)]="product.idcategoria"
                        class="form-select" 
                        aria-label="Default select example">

                        <option value disabled selected>Selecciona una categoría</option>
                        <option *ngFor="let categoria of categorias"
                            [value]="categoria.idcategoria">{{ categoria.nombre
                            }}</option>
                    </select>

                </div>
            </div>

            <div class="col-6 mt-3">
                <div class="input-container">

                    <input
                        type="number"
                        id="stock_minimo"
                        name="stock_minimo"
                        required
                        [(ngModel)]="product.stock_minimo"
                        class="form-control"
                        (input)="validarStockMinimo($event)"
                        [ngClass]="{'is-invalid': errorMessages.stock_minimo}"
                        placeholder
                        required
                        min="0">
                    <label for="name" class="input-label">Stock minimo
                        <span style="color: red;" *ngIf="!product.stock_minimo">*</span>
                    </label>
                    <div class="invalid-feedback error-message mt-2"
                        *ngIf="errorMessages.stock_minimo" style="color: red;">
                        {{errorMessages.stock_minimo}}
                    </div>
                </div>
            </div>

            <div class="col-6 mt-3">
                <div class="input-container">

                    <input
                        type="number"
                        id="cantidad"
                        name="cantidad"
                        [(ngModel)]="product.cantidad"
                        class="form-control"
                        (input)="validarCantidad($event)"
                        [ngClass]="{'is-invalid': errorMessages.cantidad}"
                        placeholder
                        min="0">
                    <label for="name" class="input-label">Cantidad
                        <span style="color: red;" *ngIf="!product.cantidad">*</span>
                    </label>
                    <div class="invalid-feedback error-message mt-2"
                        *ngIf="errorMessages.cantidad" style="color: red;">
                        {{errorMessages.cantidad}}
                    </div>
                </div>
            </div>

            <div class="col-12 mt-3 principal">
                <label for="name">Precio venta
                    <span style="color: red;" *ngIf="!product.precio_venta">*</span>
                </label>
                <div class="oe">
                    <p-inputNumber   
                        type="number"
                        style="height: 37px;"
                        id="precio_venta"
                        name="precio_venta"
                        (keyup)="validarPrecioVenta($event)"
                        [ngClass]="{'is-invalid': errorMessages.precio_venta}"
                        [(ngModel)]="product.precio_venta"> 
                    </p-inputNumber>
                    
                    <div class="invalid-feedback error-message mt-2"
                        *ngIf="errorMessages.precio_venta" style="color: red;">
                        {{errorMessages.precio_venta}}
                    </div>
                </div>
            </div>
            
            
            

            <div class="botones mt-3">
                <button pButton pRipple type="button"
                    class="p-button-success boton-registrar"
                    [disabled]="loading || !camposCompletos() || !camposValidos"
                    (click)="registrarProducto()">
                    <span *ngIf="!loading">Registrar</span>
                </button>
                <button
                    pButton pRipple type="button"
                    class="p-button-secondary boton-cancelar"
                    (click)="cerrarModal()">
                    Cerrar
                </button>
            </div>

        </form>
    </div>
</div>
