<div *ngIf="user">
  <div class="card card-w-title">
    <h4>Bienvenido {{ user.nombre }}</h4>
  </div>

  <div class="card">
    <h5>Recomendaciones</h5>
    <p class="mt-2">Estas son algunas opciones de los productos que se podrían comprar.</p>

    <div *ngIf="productos.length > 0; else noProductos">
      <div class="table-responsive">
        <table class="table col-5 table align-middle text-center text-nowrap custom-table">
          <thead>
            <tr>
              <th style="width: 250px;">Producto</th>
              <th style="width: 250px;">Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos">
              <td>{{ producto.nombre }}</td>
              <td style="color: red; font-weight: bold;">{{ producto.cantidad }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <ng-template #noProductos>
      <p>No hay productos activos que se recomiende comprar.</p>
    </ng-template>
  </div>
</div>
