<!-- index.component.html -->

<div *ngIf="user">
  <div class="card card-w-title">
    <h4>Bienvenido {{ user.nombre }}</h4>
  </div>

  <div class="card">
    <h5>Recomendaciones</h5>
    <p class="mt-2">Estas son algunas opciones de los productos que podrías comprar.</p>

    <div *ngIf="productos.length > 0; else noProductos">
      <table class="table col-5 table align-middle text-center text-nowrap table-bordered">
        <thead>
          <tr>
            <th>Nombre del Producto</th>
            <th>Recomendación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{ producto.nombre }}</td>
            <td
              class="recomendacion-column circulo-verde"
              style="font-weight: bold;"
            > 
              Comprar
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #noProductos>
      <p>No hay productos activos con cantidad menor a 5.</p>
    </ng-template>
  </div>
</div>
