<style>
        .layout-footer img {
        border-radius: 50%; /* Hace que la imagen sea redonda */
        width: 30px; /* Ancho deseado */
        height: 22px; /* Alto deseado */
        object-fit: cover;/* Escalar la imagen para que quepa en el contenedor */
        margin-right: 20px;
    }
</style>
<div class="layout-footer">
 <!--<img  src="assets/layout/images/VISOR1.png" alt="Logo" height="20" class="mr-2"/>-->
    by
    <span class="font-medium ml-2">Santiago Sosa Cadavid</span>
</div>
